<!doctype>
<html>
  <body>
    <h1>Update Squirrel</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="/sightings/"><input type="submit" value="go back to list"/></a>

    <form method="POST">
      {% csrf_token %}

      {{ form.as_p }}
      <a href=""><input type="submit" onclick="return confirm('Are you sure?')" value="Update Squirrel"></a>
    </form>

  </body>
</html>
